# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\University\Cloud Computing\#1_PROJECT\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
